@using MVCCoreApp.Models
@model List<ProductModel>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Product List</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Price</th>
                <th>Available</th>
                <th>Promotion Price</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var product in Model)
                {
                    <tr>
                        <td>@product.id</td>
                        <td>@product.Name</td>
                        <td>@product.Available</td>
                        <td>@product.Price</td>
                        <td>@product.PromotionPrice</td>
                    </tr>
                }
            ;

            }
        </tbody>
    </table>
    total of product @Model.Count
</body>
</html>
